.arena-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 31px 29px 49px 29px;

    .arena {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-areas:
        "userPick housePick"
        "user house"
        "result result"
        "button button";
        grid-template-columns: 159px 159px;
        grid-column-gap: 28px;
        margin-top: 97px;

        .user-selected, .house-selected {
            font-size: 15px;
            letter-spacing: 2.7px;
            font-weight: 600;
            text-align: center;
            margin: 22px 0px;
            z-index: 1;
        }

        .user-selected {
            grid-area: user;
        }

        .house-selected {
            grid-area: house;
        }

        .user-choice {
            grid-area: userPick; 
            align-self: center;
            justify-self: center;
            border-radius: 50%;
            z-index: 0;
        }

        .house-choice {
            grid-area: housePick;
            align-self: center;
            justify-self: center;
            border-radius: 50%;
            z-index: 0;
            
            .empty {
                width: 110px;
                height: 110px;
                background-color: #1a2946;
                border-radius: 50px;
            }
        }

        .winner {
            box-shadow: 
            0 0 0 1.2em #2e3d5b,
            0 0 0 3em #293a58b4,
            0 0 0 5em #2336567c;
        }

        .result {
            font-size: 55px;
            text-align: center;
            margin: 22px 0px;
            grid-area: result;
        }

        .play-again-btn {
            align-self: center;
            justify-self: center;
            grid-area: button;
            width: 220px;
            height: 50px;
            color: #424659;
            background-color: white;
            border-radius: 10px;
            letter-spacing: 2px;
            font-weight: 600;
            font-size: 15px;
            margin-bottom: 60px;
            &:hover {
                color: #d0576d;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .arena-section {
        margin-top: 47px;
        .arena {
            grid-template-columns: 300px 300px 300px;
            grid-template-areas: 
            "user . house"
            "userPick result housePick"
            "userPick button housePick";
            grid-column-gap: 0;
            margin-top: 80px;

            .user-selected, .house-selected {
                font-size: 23px;
                margin: 0px 0px 62px 0px ;
            }

            .user-choice {
                width: 292px;
                height: 300px;
            }

            .house-choice {
                .empty {
                    width: 223px;
                    height: 225px;
                    border-radius: 50%;
                }
            }

            .winner {
                box-shadow: 
                0 0 0 3em #2e3d5b,
                0 0 0 7.5em #293a58b4,
                0 0 0 13em #2336567c;
            }

            .result {
                z-index: 0;
                margin-top: 32px;
                text-align: center;
                margin-bottom: 0;
                align-self: self-end;
            }

            .play-again-btn {
                z-index: 0;
                margin-top: 13px;
                margin-bottom: 75px;
                align-self: self-start;
            }
        }
    }
}