.weapons-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas:
    "scissors scissors"
    "spock paper"
    "lizard rock";
    grid-template-columns: 157px 157px;
    grid-template-rows: 97px 85px 155px;
    margin: 95px 0px;

    .pentagon {
        z-index: 0;
        position: absolute;
        width: 300px;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 200px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .weapons-container {
        margin: 72px 0px 0px 0px;
        .pentagon {
            width: 440px;
            height: 140px;
            img{
                height: 230px;
            }
        }
    }
}
