.rules-section {
    height: 100dvh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: white;

    .main-container {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        section {
            h1 {
                padding-top: 92px;
                color: black;
                font-size: 28px;
            }

            button {
                position: absolute;
                bottom: 65px;
                left: 40%;
                right: 40%;
                border-color: transparent;
                background-color: transparent;
            }
        }
       
        .rules-explanation {
            margin-top: 110px;
        }
    }
}

.rules-btn-container {
    width: 270px;
    height: 43px;
    display: flex;

    button {
        width: 129px;
        height: inherit;
        background-color: transparent;
        color: #f8feff;
        border: 2px solid #8891a9;
        border-radius: 10px;
        font-weight: 500;
        letter-spacing: 2.3px;
        margin: 0 5px;
    };
}

@media screen and (min-width: 1024px) {
    .rules-section {
        position: absolute;
        background-color: hsla(214, 50%, 11%, 0.54);

        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .main-container {
            width: 400px;
            height: 412px;
            border-radius: 10px;
    
            gap: 52px;
    
            section {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 235px;
    
                h1 {
                    padding: 0;
                }

                button {
                    position: unset;
                }
            }
    
            .rules-explanation {
                margin: 0;
            }
        }  
    }

    .rules-btn-container {
        position: absolute;
        bottom: 29px;
        right: 33px;
    }
}