* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  color: white;
}

html {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%))
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
